@font-face {
  font-family: fc;
  src: url("/font/static/FiraCode-Regular.ttf");
}
html,
body {
  font-family: fc, monospace, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  background: var(--bg);
  line-height: 1.5;
}

h1 {
  color: var(--peach);
}
h2 {
  color: var(--blue);
}
h3 {
  color: var(--yellow);
}
h4 {
  color: var(--green);
}
h5 {
  color: var(--sky);
}
h6 {
  color: var(--teal);
}

body {
  width: 100%;
  color: var(--surface0);
  font-size: clamp(1.05rem, 0.8496rem + 0.9615vw, 1.325rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  line-height: 1.5;
  padding: 10%;
}

main img {
  width: 90%;
}

.header {
  padding: 1rem;
}

.header__img_con {
  width: 100%;
}

.header__img {
  width: 100%;
}
