@font-face {
  font-family: fc;
  src: url("/font/static/FiraCode-Regular.ttf");
}
html,
body {
  font-family: fc, monospace, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  line-height: 1.5;
}

img {
  max-width: min(100%, 36rem);
}

h1 {
  color: var(--peach);
}
h2 {
  color: var(--blue);
}
h3 {
  color: var(--yellow);
}
h4 {
  color: var(--green);
}
h5 {
  color: var(--sky);
}
h6 {
  color: var(--teal);
}
ul,
ol {
  margin-left: 1.3rem;
  text-align: left;
}
body {
  color: var(--surface0);
  background: var(--bg);
  padding-inline: 1ch;

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px var(--black3) solid;
}

main {
  width: 100%;
  background: var(--black);
  line-height: 1.5;
  font-size: clamp(1rem, 0.8096rem + 0.9015vw, 1.325rem);
}

.header {
  padding: 1rem;
}

.header__img_con {
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.header__img {
  width: 100%;
  max-width: 60rem;
}

@media (min-width: 668px) {
  body {
    padding: 3rem;
  }
  main {
    padding-inline: 3ch;
  }
}
