html,
body {
  font-family: fc, monospace, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

img {
  width: clamp(100%, 30vw + 3rem + 10%, 100vw);
  margin-block: 1rem;
}

hr {
  margin-block: 1ch 2rem;
}

.con a {
  color: var(--lavender);
}

.con p {
  padding: 1ch 2ch;
  margin-block: 1ch;
}
.highlight {
  overflow-x: scroll;
}
blockquote {
  font-weight: light;
  font-style: italic;
  color: var(--crust);
  border-left: 0.3rem solid var(--flamingo);
  padding-left: 0.3rem;
  margin-left: 0.6rem;
  margin-bottom: 1rem;
}

blockquote p:last-child {
  text-align: right;
}

blockquote figcaption {
  position: relative;
  margin: 1em 10px 0 0;
}

:lang(en) > blockquote::before {
  content: " ";
  font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}
h2,
h3,
h4,
h5,
h6 {
  padding-block: 0.7ch;
  padding-left: 0.5ch;
}

h1 {
  color: var(--sky);
}
h2 {
  color: var(--maroon);
}
h3 {
  color: var(--yellow);
}
h4 {
  color: var(--green);
}
h5 {
  color: var(--sky);
}
h6 {
  color: var(--teal);
}

ul,
ol {
  margin-left: 1.3rem;
  text-align: left;
}
body {
  color: var(--surface0);
  background: var(--bg);
  padding-inline: 1ch;

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px var(--black3) solid;
}

main {
  width: 100%;
  line-height: 1.3;
  font-size: clamp(0.93rem, 0.6513rem + 0.4947vw, 1.125rem);
  padding-block: 2rem 6rem;
  margin-bottom: 3rem;
  text-align: justify;
}

.header {
  padding-inline: 8%;
  padding-bottom: 3%;
}

.header__img_con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.header__img {
  width: 100%;
  max-width: 60rem;
  border: 1px var(--mauve) solid;
}

.header > * > strong {
  font-family: banner;
  font-weight: 600;
  font-style: bold;
}

.header__title {
  color: var(--teal);
}
.header__author {
  color: var(--yellow);
}
.header__date {
  color: var(--lavender);
}

.header__title,
.header__author,
.header__date {
  padding-block: 0.5rem;
}

.toc{
  .toc__header {
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  border: 1px solid var(--mauve);
  margin: 10%;
  font-family: space;
  background: var(--black2);
  padding: 3vw;
  overflow: hidden;
  a {
    color: var(--maroon);
  }
  
  li li a{
    color: var(--flamingo);
  }
  
}

@media (min-width: 668px) {
  body {
    padding: 1rem 3rem;
  }
  main {
    padding-inline: 3ch;
  }
}
