html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  /* background: var(--bg); */
  background: var(--bg) url("/img/cowboy-ship.gif") no-repeat;
  background-size: cover;
  background-position: top;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  font-family: fc;
  width: 100%;
  padding-top: 4rem;
  margin-inline: auto;
}

.container h1 {
  color: var(--teal);
  text-align: center;
}

.wrapper {
  width: 100%;
  padding: 1.3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));
  background-color: var(--bgda1);
  gap: 3rem;
}

#contact_form {
  color: var(--surface1);
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

#name {
  transition: all 250ms linear;
  animation: cards 700ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(1 * var(--stagger-delay));
}

#email {
  transition: all 250ms linear;
  animation: cards 700ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(4 * var(--stagger-delay));
}

#message {
  transition: all 250ms linear;
  animation: cards 700ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(8 * var(--stagger-delay));
}

#btn-submit {
  transition: all 150ms linear;
  animation: cards 700ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(18 * var(--stagger-delay));
}

#contact_form label {
  color: white;
  text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#btn-submit {
  border: 0;
  padding: 1rem;
  font-family: banner;
  font-size: 1.7rem;
  color: var(--base);
  /* background-color: var(--green); */
  background: linear-gradient(to right,
      var(--teal),
      var(--green),
      var(--yellow));
  transition: all 300ms linear;
}

#btn-submit:hover {
  transform: scale(1.2);
  border-radius: 18px;
}

#name,
#email,
#message {
  font-size: 1.3rem;
  padding: 1ch;
  background: var(--surface2);
  border: 2px var(--gray) solid;
  border-radius: 8px;
}

#name:focus,
#email:focus,
#message:focus {
  background: var(--base);
  border-color: var(--red);
}

.card {
  text-align: center;
  text-decoration: none;

  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 1fr 1fr; */
  /* align-items: center; */
  /* justify-items: center; */
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  gap: 1rem;
  color: var(--mantle);
  background: var(--bgda1);
  border-radius: 4px;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);

  transition: all 250ms linear;

  --stagger-delay: 80ms;
  animation: cards 700ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--count) * var(--stagger-delay));

}

.card svg {
  width: 100%;
  aspect-ratio: 1;
  transition: all 200ms linear;

  /* fill: var(--red); */
  /* stroke: var(--red); */
}

.card:hover {
  color: var(--base);
  transform: scale(1.05) translateY(-3%) translateX(4%);
  border-radius: 8px;
  border: 3px var(--gray) solid;
}

.card:hover svg {
  transform: scale(1.07) translateY(-5%) translateX(-3%);
}

@keyframes cards {
  0% {
    opacity: 0;
    transform: scale(0) translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
}

@media (min-width: 700px) {
  #contact_form {
    padding-inline: 4rem;
    grid-template-columns: auto 1fr;
  }

  #btn-submit {
    margin-inline: 20%;
    grid-column: 1/3;
  }
}
