html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background: var(--bg);
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 90%;
  max-width: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.gallery {
  width: 100%;

  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding-inline: 2%;

  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
  transition: all 250ms linear;
}
.gallery__item {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  --stagger-delay: 50ms;
  animation: card_entrance-1 800ms cubic-bezier(0.075, 0.12, 0.165, 1);
  animation-fill-mode: backwards;
  animation-delay: calc(var(--count) * var(--stagger-delay));

  /* animation: card_entrance-1 linear; */
  /* animation-fill-mode: both; */
  /* animation-timeline: view(); */
  /* animation-range: entry 10% cover 10%; */
}

.gallery__item.double__row {
  grid-row: span 2;

  --stagger-delay: 50ms;
  animation: card_entrance-2 800ms cubic-bezier(0.075, 0.12, 0.165, 1);
  animation-fill-mode: backwards;
  animation-delay: calc(var(--count) * var(--stagger-delay));

  /* animation: card_entrance-2 linear; */
  /* animation-fill-mode: both; */
  /* animation-timeline: view(); */
  /* animation-range: entry 50% cover 50%; */
}
.gallery__item.double__column {
  grid-column: span 2;
}
.gallery__item.double {
  grid-row: span 2;
  grid-column: span 2;
}
.gallery__img {
  width: 100%;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;

  /* padding: 1rem 0.5rem; */
  background: var(--black3);
  border-radius: 1ch;
  transition-duration: 500ms;
}

.gallery__img:hover {
  transform: scale(1.03);
  border-radius: 0.5ch;
}

@keyframes animate {
  0% {
    clip-path: circle(0%);
    transform: translateX(+50%);
  }
  50% {
    clip-path: circle(50%);
    transform: translateX(+25%);
  }
  100% {
    clip-path: circle(100%);
    transform: translateX(0%);
  }
}
