/* nav */
.mnav {
  position: fixed;
  right: 2rem;
  top: 2rem;
  border: 0;
  width: 2.5rem;
  z-index: 1000;
  aspect-ratio: 1;
  border-radius: 20%;
  /* debug */
  background-color: #0000000a;
  backdrop-filter: blur(2rem);
} 


.nav {
  position: fixed;
  /* debug */
  inset: 0 0 0 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
  padding-block: 5rem;
  background: #0a1f1f1f;
  backdrop-filter: blur(2rem);
}

.nav__a {
  width: 100%;
  /* height: clamp(10%, 12vh + 0.1rem,17rem); */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--crust);
  transition: all 250ms linear;
}
.nav__a:hover {
  background: var(--gray);
}
.nav__a:active{
  transform: scale(1.1);
}
.pnav {
  font-family: banner;
  transform: translateX(100%);
  transition-duration: 100ms;
}
.pnav[data-visible="true"] {
  transform: translateX(0);
}
.mnav {
  color: var(--surface1);
}
.mnav svg path {
  fill: var(--surface2);
}
.mnav svg {
  height: 60%;

  /* hack to look good */
  /* please bring my sanity back css3 */
  padding-top: 3px;
}
@media (min-width: 65rem) {
  .mnav {
    display: none;
  }
  .pnav {
    transform: translateX(0);
  }
  .nav {
    margin: 1rem 4rem;
    background: var(--black1);
    position: static;
    max-width: 63rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem;
    inset: 0 0 0 0;
    padding: 0;
  }
  .nav__a {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
