html,
body {
  font-family: space;
  height: 100%;
  min-height: 100%;
  background-color: var(--bg);
  font-size: clamp(0.98rem, 0.635rem + 0.9515vw, 1.125rem);

  background: var(--black) url("/img/bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat repeat;
  background-clip: border-box;
}

main {
  /* height: 100%; */
  color: var(--surface0);
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.14); */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(14.4px); */
  /* -webkit-backdrop-filter: blur(14.4px); */
  /* -webkit-box-shadow: -80px 33px 64px 0px rgba(0, 0, 0, 0.81); */
  /*   -moz-box-shadow: -80px 33px 64px 0px rgba(0, 0, 0, 0.81); */
  /*   box-shadow: -80px 33px 64px 0px rgba(0, 0, 0, 0.81); */
  /* background blur */
  --blur-strength: 2rem;
  backdrop-filter: blur(var(--blur-strength));
  -webkit-backdrop-filter: blur(var(--blur-strength));
}

.grid {
  display: grid;
  /* height: 100%; */
  place-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "pic pic"
    "ban ban"
    "nav nav"
    "con con";

  background-color: var(--bgda1);
  --stagger-delay: 200ms;
}

.pic {
  grid-area: pic;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  /* animation: card_entrance-1 200ms cubic-bezier(0.075, 0.12, 0.165, 1); */
  /* animation-fill-mode: backwards; */
  /* animation-delay: calc(1 * var(--stagger-delay)); */

  transition: all 500ms linear;

  height: 100%;
  background-color: var(--bga1);
}

.pic>img {
  width: clamp(50%, 33vw, 100%);
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  /* border: 2px solid var(--red); */
  transition: all 300ms ease-in-out;
}

.pic>img:hover {
  transform: scale(1.07);
  width: 100%;
  border-radius: 0%;
  border: 0.1rem solid var(--red);
}

.ban {
  font-size: 150%;
  grid-area: ban;
  /* animation: card_entrance-2 250ms ease-in-out; */
  /* animation-fill-mode: backwards; */
  /* animation-delay: calc(2 * var(--stagger-delay)); */

  font-family: banner;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bga2);
}

.ban>h1 {
  color: var(--yellow);
  background-color: var(--bga3);
  padding: 2rem;
  animation: animate 2s ease-in-out;
  transition: all 500ms linear;
}

.ban>h1:hover {
  color: var(--red);
  border: 0.3rem var(--green) solid;
  border-radius: 1ch;
  padding: 1rem;
}

@keyframes animate {
  0% {
    color: var(--blue);
    clip-path: polygon(11% 0, 17% 46%, 11% 100%, 0% 100%, 0 47%, 0 0);
  }

  50% {
    color: var(--green);
    clip-path: polygon(69% 3%, 86% 44%, 73% 90%, 0% 90%, 0 47%, 0 0);
  }

  100% {
    color: var(--yellow);
    clip-path: polygon(100% 0, 100% 37%, 100% 100%, 0% 100%, 0 47%, 0 0);
  }
}

/* navigation */
.nav {
  grid-area: nav;
  /* animation: card_entrance-4 200ms ease-out; */
  /* animation-fill-mode: backwards; */
  /* animation-delay: calc(4 * var(--stagger-delay)); */

  height: 100%;
  width: 100%;
  font-family: vt;
  font-size: clamp(0.95rem, 0.6396rem + 0.9515vw, 1.125rem);
}

.nav>menu {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 50%);
  /* padding: 2rem; */
  /* gap: 1rem; */
}

.nav li {
  width: 100%;
  list-style: none;
  text-decoration: none;
  padding: 1rem;

  display: flex;
  justify-content: center;
  background: var(--bga2);
}

.nav a {
  width: 90%;
  background-color: var(--bga3);
  border-radius: 4%;
  text-decoration: none;
  color: var(--surface0);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* gap between text and icon */
.nav a svg {
  margin-right: 1ch;
}

.nav a:hover {
  background-color: var(--bgah);
}

/* content  */
.con {
  grid-area: con;
  height: 100%;
  width: 100%;
  padding: 2ch 4ch 5ch 2ch;
  background-color: var(--bgda2);

  p,
  blockquote {
    text-align: justify;
    padding-left: 1ch;
  }

  /* animation: card_entrance-3 200ms ease-out; */
  /* animation-fill-mode: backwards; */
  /* animation-delay: calc(3 * var(--stagger-delay)); */
}

/* mobile */
@media (min-width: 475px) {
  .container {
    max-height: 75rem;
  }
}

/* tablet */
@media (min-width: 768px) {

  html,
  body {
    /* max-height: 100svh; */
    height: 100svh;
    font-size: clamp(0.95rem, 0.61rem + 0.9515vw, 1.125rem);
    /* overflow: hidden; */
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .pic>img {
    width: 50%;
  }

  .ban {
    font-size: 120%;
  }

  .container {
    /* max-height: 100%; */
    border-top-left-radius: 2%;

    /* background: unset; */
  }

  .grid {
    height: 100%;
    border-radius: 2%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "pic ban"
      "nav nav"
      "con con";
  }

  .nav>menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .nav li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ban {
    padding-right: 4rem;
  }

  .grid,
  .container {
    background: unset;
  }

  .pic,
  .ban,
  .nav,
  .con {
    background-color: var(--bga1);
  }

  .ban>h1 {
    background-color: var(--bga3);
  }

  /* .nav li, */
  /* .nav a { */
  /*   background-color: unset; */
  /* } */
}

@media (min-width: 1024px) {

  .pic>img {
    width: 100%;
  }

  .ban {
    font-size: 150%;
  }

  .grid {
    grid-template-columns: 25% auto;
    grid-template-areas:
      "pic ban"
      "nav con";
  }

  .nav>menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    place-items: center;

    padding: 0;
    margin: 0;
  }

  .nav li,
  .nav a {
    background-color: unset;
  }

  .nav li {
    display: block;
    grid-column: span 2;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .nav a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: left;
    justify-items: left;
    min-width: 100%;
    height: 100%;
    border-radius: 0%;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
  }


  .nav a svg {
    align-self: center;
    justify-self: right;
    margin-left: 60%;
  }

  .nav a:hover {
    background-color: var(--bgah);
  }

  .nav a svg {
    transition: all 100ms ease-out;
  }

  .nav a:hover svg {
    transform: translateX(-10%) scale(1.09);
  }

  .nav li:hover {
    cursor: pointer;
    background-color: var(--bgah);
  }

  .nav li:nth-child(1):hover a svg {
    color: var(--green);
  }

  .nav li:nth-child(2):hover a svg {
    color: var(--pink);
  }

  .nav li:nth-child(3):hover a svg {
    color: var(--peach);
  }

  .nav li:nth-child(4):hover a svg {
    color: var(--mauve);
  }

  .nav li:nth-child(5):hover a svg {
    color: var(--sapphire);
  }

  .nav li:nth-child(6):hover a svg {
    color: var(--sky);
  }
}

h1 {
  color: var(--peach);
}

h2 {
  color: var(--base);
}

h3 {
  color: var(--yellow);
}

h4 {
  color: var(--green);
}

h5 {
  color: var(--sky);
}

h6 {
  color: var(--teal);
}
