main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: clamp(20svw, 80svw, 90svw);
}

.grid {
  display: grid;
  height: 100%;
  grid-template-areas:
    "dp banner banner"
    "nav content content"
    "nav content content";
  grid-template-columns: repeat(3, minmax(min(150px, 100%), 1fr));
  /* grid-template-columns: repeat(4, 100px); */
  grid-template-rows: repeat(3, 28%);
  gap: 1rem 3rem;
}

.dp {
  grid-area: dp;
}
.dp > img {
  border-radius: 50%;
}

.navbar {
  grid-area: nav;
  background-color: var(--mauve);
}

.banner {
  grid-area: banner;
  background-color: var(--red);
}

.content {
  grid-area: content;
  background-color: var(--blue);
}
