main {
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: clamp(2rem, 25%, 100rem);

  /* place-content: center; */
  justify-items: center;
  gap: 2rem 0;

  /* pic con nav ban */
  grid-template-areas:
    "pic pic pic pic pic pic"
    "ban ban ban ban ban ban"
    "nav nav nav nav nav nav"
    "con con con con con con"
    "con con con con con con"
    "con con con con con con";
}

.pic {
  grid-area: pic;
}
.pic > img {
  aspect-ratio: 1/1;
  --min: clamp(8rem, 10vw, 20rem);
  width: var(--min);
  height: var(--min);
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  border: 10px dashed;
}
.con {
  grid-area: con;
}
.nav {
  grid-area: nav;
}
.ban {
  grid-area: ban;
}

/* Portrait and Landscape */
@media only screen and (min-width: 550px) {
  .grid {
    /* pic con nav ban */
    grid-template-areas:
      "pic pic ban ban ban ban"
      "nav nav nav nav nav nav"
      "con con con con con con"
      "con con con con con con"
      "con con con con con con"
      "con con con con con con";
  }
  .ban {
    justify-self: left;
    align-self: center;
  }
}

@media only screen and (min-width: 700px) {
  .grid {
    /* pic con nav ban */
    grid-template-areas:
      "pic pic ban ban . ."
      "pic pic ban ban . ."
      "nav nav con con con ."
      "nav nav con con con ."
      "nav nav con con con ."
      "nav nav con con con .";
  }
}
