.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  border-radius: 1vw;
  background: var(--black1);
}

.page-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.page-link {
  /* height: clamp(10%, 12vh + 0.1rem,17rem); */
  font-family: banner;
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 250ms linear;
  color: var(--crust);
}

.disabled {
  background: var(--black);
  opacity: 0.2;
}

.active {
  background: var(--gray);
  opacity: 1;
}


html {
  background: var(--bg) url('/img/rain.gif') no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin-inline: 1ch;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

.card {
  font-size: clamp(0.95rem, 0.6496rem + 0.9615vw, 1.225rem);
  width: 100%;
  display: flex;
  background: var(--black1);
  border-radius: 4px;
  padding: 1rem;
  border: 2px var(--gray) solid;
  transition: all 200ms linear;
}

.card:hover {
  background: var(--black3);
  border: 2px var(--green) solid;
}

.card:active {
  width: 100vw;
  height: 100svh;
  background: var(--bg);
}

.card__link {
  font-family: fc;
  width: 100%;
  height: 100%;

  padding: 0.3rem;
  line-height: 1.6;

  display: flex;
  flex-flow: column;

  text-decoration: none;
  color: var(--surface0);
  cursor: pointer;
}

.card__text__wrap {
  display: grid;
  grid-template-columns: 1fr;
}

.card__text__wrap>span {
  display: flex;
  padding: 0.7rem;
}

.card__title,
.card__desc,
.card__author,
.card__date,
.card__tag {
  padding: 0.3rem;
}

.card__title,
.card__author,
.card__date,
.card__tag {
  font-family: banner;
  background: var(--black);
}

.card__title {
  display: flex;
  flex-wrap: wrap;
  color: var(--teal);
}

.card__author {
  color: var(--yellow);
}

.card__date {
  color: var(--lavender);
}

.card__link img {
  width: 100%;
  max-height: 32rem;
  /* padding-block: 1rem; */
  margin-block: 1rem;
  object-fit: cover;
  justify-self: center;
  align-self: center;
  border: 1px var(--mauve) solid;
}

@media (min-width: 30rem) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 42rem) {
  .container {
    max-width: 30rem;
  }
}

@media (min-width: 70rem) {
  .container {
    max-width: 40rem;
  }
}

@media (min-width: 78rem) {
  .container {
    max-width: 50rem;
  }
}
