@font-face {
  font-family: fc;
  src: url("../font/static/FiraCode-Regular.ttf");
}

@font-face {
  font-family: banner;
  src: url("../font/Color\ Basic.otf");
}

@font-face {
  font-family: fira;
  src: url("../font/Fira_Sans/FiraSans-Regular.ttf");
}

@font-face {
  font-family: space;
  src: url("../font/Space_Mono/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: vt;
  src: url("../font/vt/VT323-Regular.ttf");
}

:root {

  --bga1: #0000001a;
  --bga2: #1E1E1E1a;
  --bga3: #3030304c;
  --bgah: #0000006f;

  --bg: #000000;
  --black: #1e1e1e;
  --black1: #303030;
  --black2: #242424;
  --black3: #333333;
  --gray: #3f3f3f;

  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;
  --text: #4c4f69;
  --subtext1: #5c5f77;
  --subtext0: #6c6f85;
  --overlay2: #7c7f93;
  --overlay1: #8c8fa1;
  --overlay0: #9ca0b0;
  --surface2: #acb0be;
  --surface1: #bcc0cc;
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  transition: all 250ms linear;
}

@media (min-width: 475px) {
  .container {
    max-width: 99%;
  }
}

@media (min-width: 700px) {
  .container {
    max-width: 97%;
  }
}

@media (min-width: 1124px) {
  .container {
    max-width: 63rem;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 69rem;
  }
}

/* animation for stagger */

@keyframes card_entrance-1 {
  0% {
    opacity: 0;
    clip-path: circle(10%);
    transform: scale(0) translateX(-50%);
  }

  50% {
    opacity: 1;
    clip-path: circle(45%);
    transform: scale(1.1) translateX(50%);
  }

  100% {
    opacity: 1;
    clip-path: circle(100%);
    transform: scale(1) translateX(0%);
  }
}

@keyframes card_entrance-2 {
  0% {
    opacity: 0;
    transform: scale(0.4) translateY(-50%);
  }

  50% {
    opacity: 1;
    transform: scale(0.9) translateY(50%);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
}

@keyframes card_entrance-3 {
  from {
    opacity: 0;
    transform: scale(0.5) translateX(+100%);
  }

  to {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes card_entrance-4 {
  from {
    opacity: 0;
    transform: scale(0.1) translateY(50%);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
