{{ define "gallery_css"}}
  <link href="/css/gallery.css" rel="stylesheet" />
{{ end }}

{{ define "main"}}
<main data-pagefind-body>
  <div class="metadata">

    {{ if isset .Params "title"}}
      <h2>{{ .Params.title }}</h1>
    {{ end }}
    {{ if isset .Params "date"}}
      <h2>{{ .Params.Date | time.Format ":date_long" }}</h1>
    {{ end }}
  </div>

  <div class="gallery">
      {{ $.Scratch.Set "counter" 0 }}
      {{ range .Resources.ByType "image"}}
        {{ with .Resize (printf "%dx webp q90" 420)}}
          {{ $count := $.Scratch.Get "counter" }}
          {{ $maxh := 500 }}
          {{ $height := .Height }}
          {{ $width := .Width }}
          {{ $name := replace .Name "_" " "}}
          {{ if ge $height $maxh }}
            <a class="gallery__item double__row no_pre_render" style="--count:{{$count}}" target="_blank" href="{{.}}">
          {{ else }}
            <a class="gallery__item no_pre_render" style="--count:{{$count}}" target="_blank" href="{{.}}">
          {{ end }}
          {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
          <figure>
            <img loading="lazy" class="gallery__img" src="{{.RelPermalink}}"
            height="{{$height}}" width="{{$width}}"/>
            <figcaption class="gallery__img__caption">
              <p>{{$name}}</p>
            </figcaption>
          </figure>
        </a>
        {{ end }}
      {{ end }}
  </div>
</main>

{{- end }}
