<!DOCTYPE html>
<html lang="en">

<head>
  <title>Raxen's abode</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/header.css" rel="stylesheet" />
  <link href="/css/footer.css" rel="stylesheet" />
  
  <meta property="og:description" content="Raxen001's abode'" />
  <meta name="description" content="Raxen001's abode'">
  {{ if isset .Params "title" }}
    <meta property="og:title" content="{{.Params.title}}" />
  {{end}}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://raxen001.github.io" />
  {{ if isset .Params "banimg" }}
      {{ $image := resources.GetMatch (path.Join "banimg" .Params.banimg )}} 
      {{ $image := $image.Resize (printf "%dx%d webp q70" $image.Width $image.Height )}}
      <meta property="og:image" itemprop="image" content="{{ $image.Permalink }}" />
  {{end}}


<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="raxen001.github.io">
{{ if isset .Params "title" }}
    <meta property="twitter:title" content="{{.Params.title}}" />
{{end}}
<meta name="twitter:description" content="Raxen001's abode'">
  {{ if isset .Params "banimg" }}
      {{ $image := resources.GetMatch (path.Join "banimg" .Params.banimg )}} 
      {{ $image := $image.Resize (printf "%dx%d webp q70" $image.Width $image.Height )}}
      <meta name="twitter:image" content="{{ $image.Permalink }}">
  {{end}}







  {{ if isset .Params "customcss" }}
  <link href="/css/{{ .Params.customcss }}" rel="stylesheet" />
  {{end}}
</head>

<body>
  {{ partial "header.html" . }} {{ block "main" . }} {{ end }} {{ partial
  "footer.html" . }}
</body>
<script src="/js/nav.js"></script>

</html>
