{{ define "main" }}
<main>
  <div class="grid">
    <div class="dp">
      <img src="img/m.jpg" />
    </div>

    <div class="navbar">
      <nav></nav>
    </div>

    <div class="banner">
      <pre>
 ██▀███   ▄▄▄      ▒██   ██▒▓█████  ███▄    █ 
▓██ ▒ ██▒▒████▄    ▒▒ █ █ ▒░▓█   ▀  ██ ▀█   █ 
▓██ ░▄█ ▒▒██  ▀█▄  ░░  █   ░▒███   ▓██  ▀█ ██▒
▒██▀▀█▄  ░██▄▄▄▄██  ░ █ █ ▒ ▒▓█  ▄ ▓██▒  ▐▌██▒
░██▓ ▒██▒ ▓█   ▓██▒▒██▒ ▒██▒░▒████▒▒██░   ▓██░
░ ▒▓ ░▒▓░ ▒▒   ▓▒█░▒▒ ░ ░▓ ░░░ ▒░ ░░ ▒░   ▒ ▒ 
  ░▒ ░ ▒░  ▒   ▒▒ ░░░   ░▒ ░ ░ ░  ░░ ░░   ░ ▒░
  ░░   ░   ░   ▒    ░    ░     ░      ░   ░ ░ 
   ░           ░  ░ ░    ░     ░  ░         ░ 
      </pre>
    </div>

    <div class="content">
      <article></article>
    </div>
  </div>
</main>
{{ end }}
