{{ define "list_css"}}
<link href="/css/list.css" rel="stylesheet" />
{{ end }}

{{ define "main" }}
<div class="wrapper">
  {{ partial "pagination" . }}
  {{ range .Paginator.Pages }}
  <article class="container card">
    <a class="card__link" href="{{ .Permalink }}">
      {{with .Resources.Get "thumbnail.png"}}
      {{$img := . }}
      {{/* $width := $img.Width */}}
      {{/* $height := $img.Height */}}
      {{$width := 720}}
      {{$height := 420}}
      {{$img := $img.Resize (printf "%dx webp q80" $width )}}
      <img src="{{ $img.RelPermalink }}" width="{{$width}}" />
      {{end}}
      <div class="card__text__wrap">
        <span class="card__title">
          <p class="card__header__title">Title:</p>
          <p class="card__con__title">{{ .Title }}</p>
        </span>
        <span class="card__author">
          <p class="card__header__author">Author:</p>
          <p class="card__con__date">{{ .Params.Author }}</p>
        </span>
        <span class="card__date">
          <p class="card__header__date">Date:</p>
          <p class="card__con__date">{{ .Date | time.Format ":date_long" }}</p>
        </span>
      </div>
      <!-- <span class="card__tag">{{ .Params.Tag }}</span> -->
      <span class="card__desc">{{ .Summary}}</span>
    </a>
  </article>
  {{ end }}
</div>
{{ end }}
