{{ define "blog_css"}}
  <link href="/css/blog.css" rel="stylesheet" />
{{ end }}

{{ define "main" }}
<main class="container">
  <div class="header">
    <div class="header__img_con">
      {{ with .Resources.Get "thumbnail.png" }}
        {{ $image := . }} 
        {{ $image := $image.Resize (printf "%dx%d webp q90" $image.Width $image.Height )}}
        <img class="header__img" src="{{ $image.RelPermalink }}" />
      {{end}}
    </div>
    <div class="header__title"><strong>Title: </strong><i>{{ .Title }}</i></div>
    <div class="header__author">
      <strong>Author: </strong><i>{{ .Params.Author }}</i>
    </div>
    <div class="header__date">
      <strong>Date: </strong
      ><i>{{ .Params.Date | time.Format ":date_long" }}</i>
    </div>
  </div>
  <hr/>
  <div class="toc">{{ .TableOfContents }}</div>
  <div class="con">{{ .Content }}</div>
</main>
{{ end }}
