{{- $title := site.Title -}}
{{- if not .IsHome -}}
  {{- with .Title -}}
    {{- $title = . -}}
  {{- end -}}
{{- end -}}

{{- $description := site.Params.description | default site.Title -}}
{{- if not .IsHome -}}
  {{- with .Summary -}}
    {{- $description = . -}}
  {{- end -}}
{{- end -}}
{{- with .Description -}}
  {{- $description = . -}}
{{- end -}}
{{- with .Params.description -}}
  {{- $description = . -}}
{{- end -}}
{{- $description = $description | plainify | htmlUnescape | replaceRE "\\s+" " " | truncate 160 -}}

{{- $imageAlt := printf "%s preview image" $title -}}
{{- with .Params.thumbnailAlt -}}
  {{- $imageAlt = . -}}
{{- end -}}
{{- with .Params.imageAlt -}}
  {{- $imageAlt = . -}}
{{- end -}}

{{- $image := false -}}
{{- range slice "thumbnail.jpg" "thumbnail.jpeg" "thumbnail.png" "thumbnail.webp" -}}
  {{- if not $image -}}
    {{- with $.Resources.Get . -}}
      {{- if reflect.IsImageResourceProcessable . -}}
        {{- $image = . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if not $image -}}
  {{- with resources.Get "default/thumbnail.png" -}}
    {{- if reflect.IsImageResourceProcessable . -}}
      {{- $image = . -}}
    {{- end -}}
  {{- else -}}
    {{- with resources.Get "default/thumbnail.webp" -}}
      {{- if reflect.IsImageResourceProcessable . -}}
        {{- $image = . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $socialImage := false -}}
{{- with $image -}}
  {{- $socialImage = .Fill "1200x630 Center jpg q65" -}}
{{- end -}}

<link rel="canonical" href="{{ .Permalink }}" />
<meta name="description" content="{{ $description }}" />

<meta property="og:site_name" content="{{ site.Title }}" />
<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{- with $socialImage }}
<meta property="og:image" content="{{ .Permalink }}" />
<meta property="og:image:secure_url" content="{{ .Permalink }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="{{ .Width }}" />
<meta property="og:image:height" content="{{ .Height }}" />
<meta property="og:image:alt" content="{{ $imageAlt }}" />
{{- end }}

{{- if .IsPage }}
{{- with .PublishDate }}
<meta property="article:published_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}" />
{{- end }}
{{- with .Lastmod }}
<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}" />
{{- end }}
{{- end }}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
{{- with $socialImage }}
<meta name="twitter:image" content="{{ .Permalink }}" />
<meta name="twitter:image:alt" content="{{ $imageAlt }}" />
{{- end }}
