  <meta name="description" content="Hello guys welcome to my website. This is just where is post my stuff. hope you don't care">

  <meta property="og:description" content="Hello guys welcome to my website. This is just where is post my stuff. hope you don't care" />
  {{ if isset .Params "title" }}
    <meta property="og:title" content="{{.Params.title}}" />
  {{ else }}
    <meta property="og:title" content="Raxen's Adobe" />
  {{end}}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{.Permalink}}" />
  {{ with .Resources.Get "thumbnail.png" }}
      {{ $image := . }}
      {{ $image := $image.Resize (printf "1200x630 webp q100")}}
      <meta property="og:image" itemprop="image" content="{{ $image.Permalink }}" />
  {{ else }}
      {{ $image := resources.GetMatch (path.Join "default" "thumbnail.png" )}} 
      {{ $image := $image.Resize (printf "1200x630 webp q100")}}
      <meta property="og:image" itemprop="image" content="{{ $image.Permalink }}" />
  {{end}}
  <meta property="og:image:alt" content="the banner image of my website"/>
  <meta property="og:image:height" content="630"/>
  <meta property="og:image:width" content="1200"/>


<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="raxen001.github.io">
{{ if isset .Params "title" }}
    <meta property="twitter:title" content="{{.Params.title}}" />
{{end}}
<meta name="twitter:description" content="Raxen001's abode'">
  {{ with .Resources.Get "thumbnail.png" }}
      {{ $image := . }}
      {{ $image := $image.Resize (printf "%dx%d webp q70" $image.Width $image.Height )}}
      <meta name="twitter:image" content="{{ $image.Permalink }}">
  {{end}}

