{{ define "main" }}
<main class="container" data-pagefind-body>

  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script> -->
  <!-- <script type="text/javascript"> -->
  <!--   (function () { -->
  <!--     emailjs.init("ZyKbmI93rz0_3ly68"); -->
  <!--   })(); -->
  <!-- </script> -->
  <!---->
  <!-- <script src="/js/mail.js"></script> -->

  <!-- <h1>Contact me</h1> -->
  <!-- <form id="contact_form"> -->
  <!--   <label for="name">Name: </label> -->
  <!--   <input id="name" type="text" placeholder="NAME..." name="name" required /> -->
  <!--   <label for="email">Email: </label> -->
  <!--   <input id="email" type="email" placeholder="EMAIL-ID..." name="email" required /> -->
  <!--   <label for="message">leave a message for me</label> -->
  <!--   <textarea id="message" placeholder="MESSAGE..." name="message" required></textarea> -->
  <!--   <input type="submit" id="btn-submit" value="SUBMIT"></input> -->
  <!-- </form> -->

  <div class="wrapper">
    {{ $.Scratch.Set "counter" 0 }} 
    {{ range .Site.Params.Author.links }} 
        {{ range $type, $link := . }} 
          {{ $svg := (path.Join "/static" "img" "icons" (printf "%s.svg" $type) ) }} {{ $count := $.Scratch.Get "counter" }}
            <a
              class="card"
              style="--count: {{ $count }}"
              href="{{ $link }}"
              target="_blank"
            >
              <div class="icon">{{ readFile $svg | safeHTML}}</div>
              <div class="desc">{{$type}}</div>
            </a>
    {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }} 
      {{ end }} 
    {{ end }}
  </div>
</main>
{{ end }}
